@model IEnumerable<Emp>
@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<form asp-action="Index">
    <b>Find by Emp Name : </b>
    <input type="text" name="SearchString" id="SearchString" value="@ViewBag.filter" />
    <input type="submit" value="Search" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>



<table class="table table-striped">
    <tr>
        <th style="background-color: lightpink">EmpNo</th>
        <th style="background-color: lightskyblue">EmpName</th>
        <th style="background-color: lightgreen">Job</th>
        <th style="background-color: lightsalmon">HireDate</th>
        <th style="background-color: lightseagreen">Salary</th>
        <th style="background-color: rosybrown">DeptNo</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Empno</td>
            <td>@item.Ename</td>
            <td>@item.Job</td>
            <td>@item.Hiredate</td>
            <td>@item.Sal</td>
            <td>@item.Deptno</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Empno">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Empno">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Empno">Delete</a>
            </td>
        </tr>
    }
</table>